# Import libraries

In [5]:
import numpy as np
import pandas as pd

# Data

In [6]:
train_1 = pd.read_csv("./data/IEEE_Victoris2_Filtration_train_data/Train_Batch_1.csv")
train_2 = pd.read_csv("./data/IEEE_Victoris2_Filtration_train_data/Train_Batch_2.csv")
train_3 = pd.read_csv("./data/IEEE_Victoris2_Filtration_train_data/Train_Batch_3.csv")
test = pd.read_csv("./data/test.csv")

In [7]:
train_1.head(1)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Product Weights Data in (KG),Is Recyclable?,Min. Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,"{'Gross Weight': 28.1997, 'Net Weight': 26.600...",recyclable,10K+,2842.23,2037.64,481.98,323,602.7575

In [8]:
train_1["Product Weights Data in (KG)"][0]

"{'Gross Weight': 28.1997, 'Net Weight': 26.6008, 'Package Weight': 1.599}"

In [9]:
train_2.head(1)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Min. Person Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,mc_ID_0,"Single Male with two children, education: high...",S01em_OR,"Baking Goods from Baking Goods department, Ord...","['Video Store', 'Florist', 'Ready Food', 'Bar ...",Tip Top Savings,Deluxe,3.28 M,0.984 M,21.9493,19.0421,yes,30K+,2577.5,1734.5,503.07,335.38,287.127

In [10]:
train_3.head(1)

,Unnamed: 0,Person%20Description,Place%20Code,Customer%20Order,Additional%20Features%20in%20market,Promotion%20Name,Store%20Kind,Store%20Sales,Store%20Cost,Gross%20Weight,Net%20Weight,Weights%20Data,Is%20Recyclable?,Yearly%20Income,Store%20Area,Grocery%20Area,Frozen%20Area,Meat%20Area,Cost
0,mc_ID_0,"Single Female with two children, education: pa...",T02ma_WA,"Meat from Deli department, Ordered Brand : Red...","['Coffee Bar', 'Florist', 'Ready Food', 'Bar F...",Sale : Double Down,Deluxe,7.12 Millions,2.5632 Millions,23.2575,20.3503,"{'Gross Weight': 23.2575, 'Net Weight': 20.350...",yes,90K+,3145.51,2056.79,654.13,436.09,500.7202

## Train_1

In [11]:
def product_weight():
    Gross_Weight = []
    Net_Weight = []

    for row in train_1["Product Weights Data in (KG)"]:
        Gross_Weight.append(row.split(",")[0].split(":")[1])
        Net_Weight.append(row.split(",")[1].split(":")[1])

    product_weight = pd.DataFrame(
        {"Gross Weight": Gross_Weight, "Net Weight": Net_Weight}
    )
    return product_weight

In [12]:
train_1 = pd.concat([train_1, product_weight()], axis=1)
train_1.drop("Product Weights Data in (KG)", axis=1, inplace=True)

In [13]:
train_1.rename(columns={"Min. Yearly Income": "Yearly Income"}, inplace=True)

In [14]:
train_1.head(2)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972

## Train_2

In [15]:
train_2.rename(columns={"Min. Person Yearly Income": "Yearly Income"}, inplace=True)

## Train_3

In [16]:
new_cols = {col: col.replace("%20", " ") for col in train_3.columns}
train_3.rename(columns=new_cols, inplace=True)

In [17]:
train_3.drop("Weights Data", axis=1, inplace=True)

In [18]:
train_3.head(2)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,mc_ID_0,"Single Female with two children, education: pa...",T02ma_WA,"Meat from Deli department, Ordered Brand : Red...","['Coffee Bar', 'Florist', 'Ready Food', 'Bar F...",Sale : Double Down,Deluxe,7.12 Millions,2.5632 Millions,23.2575,20.3503,yes,90K+,3145.51,2056.79,654.13,436.09,500.7202
1,mc_ID_1,"Single Female with five children, education: p...",M10da_YU,"Specialty from Produce department, Ordered Bra...","['Coffee Bar', 'Florist', 'Bar For Salad', 'Vi...",GLD,Deluxe,14.72 Millions,7.0656 Millions,16.7163,12.3555,yes,30K+,2856.68,1871.16,595.93,395.51,484.1411

In [19]:
data = pd.concat([train_1, train_2, train_3])
data = data.reset_index(drop=True)

In [20]:
data.head(2)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38862 entries, 0 to 38861
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     38862 non-null  object
 1   Person Description             38862 non-null  object
 2   Place Code                     38862 non-null  object
 3   Customer Order                 38860 non-null  object
 4   Additional Features in market  34562 non-null  object
 5   Promotion Name                 33034 non-null  object
 6   Store Kind                     33053 non-null  object
 7   Store Sales                    38847 non-null  object
 8   Store Cost                     38855 non-null  object
 9   Is Recyclable?                 38860 non-null  object
 10  Yearly Income                  38854 non-null  object
 11  Store Area                     35297 non-null  object
 12  Grocery Area                   35256 non-null  object
 13  Frozen Area                    35310 non-null  object
 14  Meat Area                      35313 non-null  object
 15  Cost                           38831 non-null  float64
 16  Gross Weight                   35945 non-null  object
 17  Net Weight                     35969 non-null  object
dtypes: float64(1), object(17)
memory usage: 5.3+ MB

## Columns

### Unnecessary Column

In [22]:
data["Unnamed: 0"].unique()

array(['mc_ID_0', 'mc_ID_1', 'mc_ID_2', ..., 'mc_ID_19429', 'mc_ID_19430',
       'mc_ID_19431'], dtype=object)

In [23]:
def un_needed_col(dataset, columns):
    data = dataset.copy()
    data.drop(columns, axis=1, inplace=True)
    return data

In [24]:
data = un_needed_col(data, "Unnamed: 0")

In [25]:
data.head(3)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008
1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972
2,"Married Male with two children, education: hig...",L05es_CA,"Magazines from Periodicals department, Ordered...",['Florist'],Shelf Emptiers,Supermarket,10.86 Millions,4.4526 Millions,recyclable,30K+,2192.32,1322.21,523.32,348.85,564.2647,28.6358,27.1822

### Categorical Columns

In [26]:
categorical_columns = data.select_dtypes(["int", "float"]).columns
categorical_columns

Index(['Cost'], dtype='object')

#### Categorical Columns that suppose to be numerical

In [27]:
data.head(1)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008

In [28]:
def convert_str_num(dataset, columns):
    data = dataset.copy()
    for col in columns:
        # Using regex with .replace() to strip non-digit characters and preserve decimal points
        data[col] = data[col].replace(r"[^0-9.]+", "", regex=True)

        # Convert empty strings to NaN
        data[col] = data[col].replace("", np.nan)

        # Convert cleaned strings to float
        data[col] = pd.to_numeric(data[col], errors="coerce", downcast="float")

        if col == "Yearly Income":
            data[col] = data[col] * 1000
        if col == "Store Sales" or col == "Store Cost":
            data[col] = data[col] * 1000_000

    return data


cols = [
    "Store Area",
    "Grocery Area",
    "Frozen Area",
    "Meat Area",
    "Gross Weight",
    "Net Weight",
    "Store Sales",
    "Store Cost",
    "Yearly Income",
]


data = convert_str_num(data, cols)

In [29]:
data.head(1)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.22998,2037.640015,481.980011,323.0,602.7575,28.199699,26.6008

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38862 entries, 0 to 38861
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             38862 non-null  object
 1   Place Code                     38862 non-null  object
 2   Customer Order                 38860 non-null  object
 3   Additional Features in market  34562 non-null  object
 4   Promotion Name                 33034 non-null  object
 5   Store Kind                     33053 non-null  object
 6   Store Sales                    38847 non-null  float64
 7   Store Cost                     38855 non-null  float64
 8   Is Recyclable?                 38860 non-null  object
 9   Yearly Income                  38854 non-null  float32
 10  Store Area                     35296 non-null  float32
 11  Grocery Area                   35255 non-null  float32
 12  Frozen Area                    35308 non-null  float32
 13  Meat Area                      35313 non-null  float32
 14  Cost                           38831 non-null  float64
 15  Gross Weight                   35945 non-null  float32
 16  Net Weight                     35969 non-null  float32
dtypes: float32(7), float64(3), object(7)
memory usage: 4.0+ MB

#### Actual Categorical Columns
- Person Description             
- Place Code                     
- Customer Order                 
- Additional Features in market  
- Promotion Name                 
- Store Kind                     
- Is Recyclable?

### Person Description
- `Person Description` - Description of the person visiting the market

In [31]:
def extract_values(dataset):
    data = dataset.copy()

    # Define lambda function to extract values
    extract_values = lambda x: {
        "Status": x.split(" ")[0],
        "Sex": x.split(" ")[1],
        "Children": x.split(" ")[3],
        "Education": x.split(" ")[6],
        "Job": x.split(" ")[-1],
    }

    # Apply the lambda function to create new columns
    data[["Status", "Sex", "Children", "Education", "Job"]] = (
        data["Person Description"].apply(extract_values).apply(pd.Series)
    )

    # Drop the original 'Person Description' column
    data.drop("Person Description", axis=1, inplace=True)

    return data

In [32]:
data = extract_values(data)

### Place Code
- `Place Code` - Code for each place which consists of 2 city codes parts separated by "_"

In [33]:
data["Place Code"].unique()

array(['H11go_ZA', 'S04ne_WA', 'L05es_CA', 'S03le_WA', 'M10da_YU',
       'A17co_GU', 'O09ba_VE', 'S01em_OR', 'P07nd_OR', 'B06ls_CA',
       'T02ma_WA', 'V19ia_BC', 'G16ra_JA', 'B14on_WA', 'C15ho_ZA',
       'V13er_BC', 'M12ty_DF', 'B08am_WA', 'S18co_CA'], dtype=object)

### Customer Order
 `Customer Order` - Order of each customer in the market

In [45]:
order = [
    value.split("from")[0] if type(value) == str else np.nan
    for value in data["Customer Order"]
]
department = [
    value.split("department")[0].split("from")[1] if type(value) == str else np.nan
    for value in data["Customer Order"]
]
brand = [
    value.split(":")[1] if type(value) == str else np.nan
    for value in data["Customer Order"]
]

In [57]:
data = pd.concat(
    [data, pd.DataFrame({"Order": order, "Department": department, "Brand ": brand})],
    axis=1
)

In [60]:
data.drop('Customer Order', axis=1, inplace=True)

In [61]:
data.head(2)

,Place Code,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,...,Gross Weight,Net Weight,Status,Sex,Children,Education,Job,Order,Department,Brand
0,H11go_ZA,"['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.229980,2037.640015,...,28.199699,26.6008,Single,Female,four,bachelors,professional,Cleaning Supplies,Household,Red Wing
1,S04ne_WA,NaN,Budget Bargains,Supermarket,6.360000e+06,1.971600e+06,non recyclable,50000.0,2814.949951,2049.719971,...,16.570999,14.9720,Single,Female,three,bachelors,management,Snack Foods,Snack Foods,Nationeel

### Additional Features in market
`Additional Features in market` A list of features that are found in the market

In [68]:
data['Additional Features in market']

0        ['Video Store', 'Florist', 'Ready Food', 'Coff...
1                                                      NaN
2                                              ['Florist']
3                                           ['Coffee Bar']
4        ['Bar For Salad', 'Ready Food', 'Coffee Bar', ...
                               ...
38857    ['Florist', 'Coffee Bar', 'Bar For Salad', 'Re...
38858    ['Ready Food', 'Bar For Salad', 'Coffee Bar', ...
38859                                       ['Coffee Bar']
38860                                       ['Coffee Bar']
38861    ['Video Store', 'Bar For Salad', 'Coffee Bar',...
Name: Additional Features in market, Length: 38862, dtype: object

### Promotion Name
`Promotion Name` - Made by the market on media

In [69]:
data['Promotion Name']

0                Dimes Off
1          Budget Bargains
2           Shelf Emptiers
3           Savings Galore
4             Sale Winners
               ...
38857       Shelf Emptiers
38858      Discount Frenzy
38859                  NaN
38860    Best Price Savers
38861       Sale Sale Sale
Name: Promotion Name, Length: 38862, dtype: object

### Store Kind
- `Store Kind` - A genre for the store

In [71]:
data['Store Kind'].unique()

array(['Deluxe', 'Supermarket', nan, 'Gourmet', 'Mid-Size',
       'Small Grocery'], dtype=object)

### Is Recyclable?
`Is Recyclable?` - If the item is Recyclable or no

In [73]:
data['Is Recyclable?'].unique()

array(['recyclable', 'non recyclable', 'yes', 'no', nan], dtype=object)