# Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Data

In [2]:
train_1 = pd.read_csv("./data/IEEE_Victoris2_Filtration_train_data/Train_Batch_1.csv")
train_2 = pd.read_csv("./data/IEEE_Victoris2_Filtration_train_data/Train_Batch_2.csv")
train_3 = pd.read_csv("./data/IEEE_Victoris2_Filtration_train_data/Train_Batch_3.csv")
test = pd.read_csv("./data/test.csv")

In [3]:
train_1.head(1)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Product Weights Data in (KG),Is Recyclable?,Min. Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,"{'Gross Weight': 28.1997, 'Net Weight': 26.600...",recyclable,10K+,2842.23,2037.64,481.98,323,602.7575

In [4]:
train_2.head(1)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Min. Person Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,mc_ID_0,"Single Male with two children, education: high...",S01em_OR,"Baking Goods from Baking Goods department, Ord...","['Video Store', 'Florist', 'Ready Food', 'Bar ...",Tip Top Savings,Deluxe,3.28 M,0.984 M,21.9493,19.0421,yes,30K+,2577.5,1734.5,503.07,335.38,287.127

In [5]:
train_3.head(1)

,Unnamed: 0,Person%20Description,Place%20Code,Customer%20Order,Additional%20Features%20in%20market,Promotion%20Name,Store%20Kind,Store%20Sales,Store%20Cost,Gross%20Weight,Net%20Weight,Weights%20Data,Is%20Recyclable?,Yearly%20Income,Store%20Area,Grocery%20Area,Frozen%20Area,Meat%20Area,Cost
0,mc_ID_0,"Single Female with two children, education: pa...",T02ma_WA,"Meat from Deli department, Ordered Brand : Red...","['Coffee Bar', 'Florist', 'Ready Food', 'Bar F...",Sale : Double Down,Deluxe,7.12 Millions,2.5632 Millions,23.2575,20.3503,"{'Gross Weight': 23.2575, 'Net Weight': 20.350...",yes,90K+,3145.51,2056.79,654.13,436.09,500.7202

## Train_1

In [6]:
def product_weight():
    Gross_Weight = []
    Net_Weight = []

    for row in train_1["Product Weights Data in (KG)"]:
        Gross_Weight.append(row.split(",")[0].split(":")[1])
        Net_Weight.append(row.split(",")[1].split(":")[1])

    product_weight = pd.DataFrame(
        {"Gross Weight": Gross_Weight, "Net Weight": Net_Weight}
    )
    return product_weight

In [7]:
train_1 = pd.concat([train_1, product_weight()], axis=1)
train_1.drop("Product Weights Data in (KG)", axis=1, inplace=True)

In [8]:
train_1.rename(columns={"Min. Yearly Income": "Yearly Income"}, inplace=True)

In [9]:
train_1.head(2)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972

## Train_2

In [10]:
train_2.rename(columns={"Min. Person Yearly Income": "Yearly Income"}, inplace=True)

## Train_3

In [11]:
new_cols = {col: col.replace("%20", " ") for col in train_3.columns}
train_3.rename(columns=new_cols, inplace=True)

In [12]:
train_3.drop("Weights Data", axis=1, inplace=True)

In [13]:
train_3.head(2)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost
0,mc_ID_0,"Single Female with two children, education: pa...",T02ma_WA,"Meat from Deli department, Ordered Brand : Red...","['Coffee Bar', 'Florist', 'Ready Food', 'Bar F...",Sale : Double Down,Deluxe,7.12 Millions,2.5632 Millions,23.2575,20.3503,yes,90K+,3145.51,2056.79,654.13,436.09,500.7202
1,mc_ID_1,"Single Female with five children, education: p...",M10da_YU,"Specialty from Produce department, Ordered Bra...","['Coffee Bar', 'Florist', 'Bar For Salad', 'Vi...",GLD,Deluxe,14.72 Millions,7.0656 Millions,16.7163,12.3555,yes,30K+,2856.68,1871.16,595.93,395.51,484.1411

In [14]:
data = pd.concat([train_1, train_2, train_3])
data = data.reset_index(drop=True)

In [15]:
data.head(2)

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38862 entries, 0 to 38861
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     38862 non-null  object
 1   Person Description             38862 non-null  object
 2   Place Code                     38862 non-null  object
 3   Customer Order                 38860 non-null  object
 4   Additional Features in market  34562 non-null  object
 5   Promotion Name                 33034 non-null  object
 6   Store Kind                     33053 non-null  object
 7   Store Sales                    38847 non-null  object
 8   Store Cost                     38855 non-null  object
 9   Is Recyclable?                 38860 non-null  object
 10  Yearly Income                  38854 non-null  object
 11  Store Area                     35297 non-null  object
 12  Grocery Area                   35256 non-null  object
 13  Frozen Area                    35310 non-null  object
 14  Meat Area                      35313 non-null  object
 15  Cost                           38831 non-null  float64
 16  Gross Weight                   35945 non-null  object
 17  Net Weight                     35969 non-null  object
dtypes: float64(1), object(17)
memory usage: 5.3+ MB

## Columns

### Unnecessary Column

In [17]:
data["Unnamed: 0"].unique()

array(['mc_ID_0', 'mc_ID_1', 'mc_ID_2', ..., 'mc_ID_19429', 'mc_ID_19430',
       'mc_ID_19431'], dtype=object)

In [18]:
def un_needed_col(dataset, columns):
    data = dataset.copy()
    data.drop(columns, axis=1, inplace=True)
    return data

In [19]:
data = un_needed_col(data, "Unnamed: 0")

In [20]:
data.head(3)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008
1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,non recyclable,50K+,2814.95,2049.72,457.36,NaN,708.6650,16.571,14.972
2,"Married Male with two children, education: hig...",L05es_CA,"Magazines from Periodicals department, Ordered...",['Florist'],Shelf Emptiers,Supermarket,10.86 Millions,4.4526 Millions,recyclable,30K+,2192.32,1322.21,523.32,348.85,564.2647,28.6358,27.1822

### Categorical Columns

In [21]:
categorical_columns = data.select_dtypes(["int", "float"]).columns
categorical_columns

Index(['Cost'], dtype='object')

#### Categorical Columns that suppose to be numerical

In [22]:
data.head(1)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,recyclable,10K+,2842.23,2037.64,481.98,323,602.7575,28.1997,26.6008

In [23]:
def convert_str_num(dataset, columns):
    data = dataset.copy()
    for col in columns:
        # Using regex with .replace() to strip non-digit characters and preserve decimal points
        data[col] = data[col].replace(r"[^0-9.]+", "", regex=True)

        # Convert empty strings to NaN
        data[col] = data[col].replace("", np.nan)

        # Convert cleaned strings to float
        data[col] = pd.to_numeric(data[col], errors="coerce", downcast="float")

        if col == "Yearly Income":
            data[col] = data[col] * 1000
        if col == "Store Sales" or col == "Store Cost":
            data[col] = data[col] * 1000_000

    return data

In [24]:
cols = [
    "Store Area",
    "Grocery Area",
    "Frozen Area",
    "Meat Area",
    "Gross Weight",
    "Net Weight",
    "Store Sales",
    "Store Cost",
    "Yearly Income",
]


data = convert_str_num(data, cols)

In [25]:
data.head(1)

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight
0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.22998,2037.640015,481.980011,323.0,602.7575,28.199699,26.6008

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38862 entries, 0 to 38861
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             38862 non-null  object
 1   Place Code                     38862 non-null  object
 2   Customer Order                 38860 non-null  object
 3   Additional Features in market  34562 non-null  object
 4   Promotion Name                 33034 non-null  object
 5   Store Kind                     33053 non-null  object
 6   Store Sales                    38847 non-null  float64
 7   Store Cost                     38855 non-null  float64
 8   Is Recyclable?                 38860 non-null  object
 9   Yearly Income                  38854 non-null  float32
 10  Store Area                     35296 non-null  float32
 11  Grocery Area                   35255 non-null  float32
 12  Frozen Area                    35308 non-null  float32
 13  Meat Area                      35313 non-null  float32
 14  Cost                           38831 non-null  float64
 15  Gross Weight                   35945 non-null  float32
 16  Net Weight                     35969 non-null  float32
dtypes: float32(7), float64(3), object(7)
memory usage: 4.0+ MB

#### Actual Categorical Columns
- Person Description             
- Place Code                     
- Customer Order                 
- Additional Features in market  
- Promotion Name                 
- Store Kind                     
- Is Recyclable?

#### Person Description
- `Person Description` - Description of the person visiting the market

In [27]:
def extract_values(dataset):
    data = dataset.copy()

    # Define lambda function to extract values
    extract_values = lambda x: {
        "Status": x.split(" ")[0],
        "Sex": x.split(" ")[1],
        "Children": x.split(" ")[3],
        "Education": x.split(" ")[6],
        "Job": x.split(" ")[-1],
    }

    # Apply the lambda function to create new columns
    data[["Status", "Sex", "Children", "Education", "Job"]] = (
        data["Person Description"].apply(extract_values).apply(pd.Series)
    )

    # Drop the original 'Person Description' column
    data.drop("Person Description", axis=1, inplace=True)

    return data

In [28]:
data = extract_values(data)

In [29]:
data.head(2)

,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,...,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight,Status,Sex,Children,Education,Job
0,H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.229980,...,481.980011,323.0,602.7575,28.199699,26.6008,Single,Female,four,bachelors,professional
1,S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.360000e+06,1.971600e+06,non recyclable,50000.0,2814.949951,...,457.359985,NaN,708.6650,16.570999,14.9720,Single,Female,three,bachelors,management

In [30]:
data["Sex"].unique()

array(['Female', 'Male'], dtype=object)

In [31]:
data["Children"].unique()

array(['four', 'three', 'two', 'five', 'one', 'No'], dtype=object)

In [32]:
data["Education"].unique()

array(['bachelors', 'high', 'partial', 'graduate'], dtype=object)

In [33]:
data["Job"].unique()

array(['professional', 'management', 'manual', 'clerical'], dtype=object)

In [34]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder


def encode_categorical_features(dataset, columns_to_encode, encoding_method="label"):
    """
    Encode categorical features in a dataset using the specified encoding method.

    Parameters:
    - dataset (pd.DataFrame): The dataset containing the features to be encoded.
    - columns_to_encode (list): List of column names to be encoded.
    - encoding_method (str): The encoding method to use. Options: 'label', 'one-hot'.

    Returns:
    - encoded_dataset (pd.DataFrame): The dataset with encoded categorical features.
    """
    encoded_dataset = dataset.copy()

    for col in columns_to_encode:
        if col not in encoded_dataset.columns:
            print(f"Column '{col}' not found in the dataset.")
            continue

        if encoding_method == "label":
            label_encoder = LabelEncoder()
            encoded_dataset[col] = label_encoder.fit_transform(encoded_dataset[col])
        elif encoding_method == "one-hot":
            one_hot_encoder = OneHotEncoder(drop="first", sparse_output=False)
            encoded_values = one_hot_encoder.fit_transform(encoded_dataset[[col]])
            # Create new column names for one-hot encoded features
            new_columns = [
                f"{str(value)}" for value in one_hot_encoder.categories_[0][1:]
            ]
            encoded_df = pd.DataFrame(encoded_values, columns=new_columns)
            encoded_dataset = pd.concat([encoded_dataset, encoded_df], axis=1)
            encoded_dataset.drop(columns=[col], inplace=True)
        else:
            print(
                f"Unknown encoding method '{encoding_method}'. Skipping column '{col}'."
            )

    return encoded_dataset

In [35]:
# One Hot Encoded columns
data = encode_categorical_features(
    data, columns_to_encode=["Sex", "Education", "Job"], encoding_method="one-hot"
)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38862 entries, 0 to 38861
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Place Code                     38862 non-null  object
 1   Customer Order                 38860 non-null  object
 2   Additional Features in market  34562 non-null  object
 3   Promotion Name                 33034 non-null  object
 4   Store Kind                     33053 non-null  object
 5   Store Sales                    38847 non-null  float64
 6   Store Cost                     38855 non-null  float64
 7   Is Recyclable?                 38860 non-null  object
 8   Yearly Income                  38854 non-null  float32
 9   Store Area                     35296 non-null  float32
 10  Grocery Area                   35255 non-null  float32
 11  Frozen Area                    35308 non-null  float32
 12  Meat Area                      35313 non-null  float32
 13  Cost                           38831 non-null  float64
 14  Gross Weight                   35945 non-null  float32
 15  Net Weight                     35969 non-null  float32
 16  Status                         38862 non-null  object
 17  Children                       38862 non-null  object
 18  Male                           38862 non-null  float64
 19  graduate                       38862 non-null  float64
 20  high                           38862 non-null  float64
 21  partial                        38862 non-null  float64
 22  management                     38862 non-null  float64
 23  manual                         38862 non-null  float64
 24  professional                   38862 non-null  float64
dtypes: float32(7), float64(10), object(8)
memory usage: 6.4+ MB

In [37]:
mapping = lambda x: {
    "No": 0,
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
}.get(x, x)

# Apply label encoding to the 'Category' column
data["Children"] = data["Children"].apply(lambda x: mapping(x))

#### Place Code
- `Place Code` - Code for each place which consists of 2 city codes parts separated by "_"

In [38]:
data["Place Code"].unique()

array(['H11go_ZA', 'S04ne_WA', 'L05es_CA', 'S03le_WA', 'M10da_YU',
       'A17co_GU', 'O09ba_VE', 'S01em_OR', 'P07nd_OR', 'B06ls_CA',
       'T02ma_WA', 'V19ia_BC', 'G16ra_JA', 'B14on_WA', 'C15ho_ZA',
       'V13er_BC', 'M12ty_DF', 'B08am_WA', 'S18co_CA'], dtype=object)

#### Customer Order
 `Customer Order` - Order of each customer in the market

In [39]:
order = [
    value.split("from")[0] if type(value) == str else np.nan
    for value in data["Customer Order"]
]
department = [
    value.split("department")[0].split("from")[1] if type(value) == str else np.nan
    for value in data["Customer Order"]
]
brand = [
    value.split(":")[1] if type(value) == str else np.nan
    for value in data["Customer Order"]
]

In [40]:
data = pd.concat(
    [data, pd.DataFrame({"Order": order, "Department": department, "Brand": brand})],
    axis=1,
)

In [41]:
data.drop("Customer Order", axis=1, inplace=True)

In [42]:
data.head(2)

,Place Code,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,...,Male,graduate,high,partial,management,manual,professional,Order,Department,Brand
0,H11go_ZA,"['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.229980,2037.640015,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Cleaning Supplies,Household,Red Wing
1,S04ne_WA,NaN,Budget Bargains,Supermarket,6.360000e+06,1.971600e+06,non recyclable,50000.0,2814.949951,2049.719971,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Snack Foods,Snack Foods,Nationeel

In [43]:
data["Order"].unique()

array(['Cleaning Supplies ', 'Snack Foods ', 'Magazines ', 'Dairy ',
       'Vegetables ', 'Candles ', 'Pain Relievers ', 'Beer and Wine ',
       'Frozen Desserts ', 'Breakfast Foods ', 'Bread ', 'Baking Goods ',
       'Starchy Foods ', 'Drinks ', 'Electrical ', 'Meat ', 'Hardware ',
       'Hot Beverages ', 'Canned Tuna ', 'Jams and Jellies ', 'Fruit ',
       'Hygiene ', 'Miscellaneous ', 'Canned Shrimp ', 'Cold Remedies ',
       'Kitchen Products ', 'Candy ', 'Paper Products ',
       'Canned Sardines ', 'Specialty ', 'Carbonated Beverages ',
       'Canned Soup ', 'Bathroom Products ', 'Seafood ', 'Decongestants ',
       'Packaged Vegetables ', 'Frozen Entrees ', 'Canned Clams ',
       'Plastic Products ', 'Pure Juice Beverages ', 'Pizza ',
       'Side Dishes ', 'Canned Anchovies ', 'Eggs ', 'Canned Oysters ',
       nan], dtype=object)

In [44]:
data["Department"].unique()

array([' Household ', ' Snack Foods ', ' Periodicals ', ' Dairy ',
       ' Produce ', ' Health and Hygiene ', ' Frozen Foods ',
       ' Alcoholic Beverages ', ' Baked Goods ', ' Baking Goods ',
       ' Starchy Foods ', ' Beverages ', ' Meat ', ' Checkout ',
       ' Canned Foods ', ' Deli ', ' Snacks ', ' Seafood ',
       ' Breakfast Foods ', ' Canned Products ', ' Eggs ', ' Carousel ',
       nan], dtype=object)

In [45]:
data["Brand"].unique()

array([' Red Wing', ' Nationeel', ' Excel', ' Carlson', ' Hermanos',
       ' Steady', ' Golden', ' Top Measure', ' Tri-State', ' PigTail',
       ' Carrington', ' Sphinx', ' Plato', ' Jardon', ' Skinner',
       ' Best Choice', ' Quick', ' Landslide', ' Portsmouth', ' High Top',
       ' Mighty Good', ' Dollar', ' Tell Tale', ' Black Tie', ' Super',
       ' Modell', ' Sunset', ' Gauss', ' Blue Label', ' Good', ' Token',
       ' Fantastic', ' Red Spade', ' Club', ' CDR', ' High Quality',
       ' Imagine', ' American', ' Consolidated', ' Hilltop', ' Better',
       ' Faux Products', ' Akron', ' Fast', ' Musial', ' Fort West',
       ' Ebony', ' Discover', ' Fabulous', ' Bravo', ' Booker',
       ' Dual City', ' Denny', ' Shady Lake', ' Colony', ' BBB Best',
       ' Great', ' Just Right', ' Pearl', ' Radius', ' Cutting Edge',
       ' Even Better', ' Special', ' Best', ' Applause', ' Horatio',
       ' Bird Call', ' Excellent', ' Cormorant', ' Atomic', ' Lake',
       ' James Bay', ' Johnson', ' Gorilla', ' Thresher', ' Jeffers',
       ' Big Time', ' Moms', ' Jumbo', ' Pleasant', ' Gerolli', ' Giant',
       ' Choice', ' Monarch', ' Medalist', ' Washington', ' Ship Shape',
       ' Gulf Coast', ' Walrus', ' Framton', ' Colossal', ' Robust',
       ' Toucan', ' Footnote', ' Prelude', ' National', ' ADJ',
       ' Genteel', ' Urban', ' Toretti', ' Tip Top', ' Blue Medal',
       ' Curlew', ' Symphony', ' Kiwi', ' Amigo', ' Queen',
       ' Green Ribbon', ' King', ' Swell', ' Big City', nan], dtype=object)

In [46]:
[value for value in data["Order"]]

['Cleaning Supplies ',
 'Snack Foods ',
 'Magazines ',
 'Dairy ',
 'Vegetables ',
 'Candles ',
 'Pain Relievers ',
 'Vegetables ',
 'Beer and Wine ',
 'Vegetables ',
 'Frozen Desserts ',
 'Breakfast Foods ',
 'Bread ',
 'Baking Goods ',
 'Starchy Foods ',
 'Drinks ',
 'Electrical ',
 'Snack Foods ',
 'Meat ',
 'Baking Goods ',
 'Beer and Wine ',
 'Vegetables ',
 'Breakfast Foods ',
 'Baking Goods ',
 'Magazines ',
 'Magazines ',
 'Vegetables ',
 'Hardware ',
 'Vegetables ',
 'Hot Beverages ',
 'Bread ',
 'Electrical ',
 'Magazines ',
 'Meat ',
 'Beer and Wine ',
 'Canned Tuna ',
 'Beer and Wine ',
 'Drinks ',
 'Bread ',
 'Meat ',
 'Jams and Jellies ',
 'Vegetables ',
 'Vegetables ',
 'Breakfast Foods ',
 'Fruit ',
 'Dairy ',
 'Jams and Jellies ',
 'Electrical ',
 'Frozen Desserts ',
 'Meat ',
 'Hygiene ',
 'Pain Relievers ',
 'Dairy ',
 'Dairy ',
 'Canned Tuna ',
 'Fruit ',
 'Pain Relievers ',
 'Meat ',
 'Miscellaneous ',
 'Canned Shrimp ',
 'Frozen Desserts ',
 'Drinks ',
 'Snack Foods ',
 'Cold Remedies ',
 'Kitchen Products ',
 'Candy ',
 'Dairy ',
 'Dairy ',
 'Snack Foods ',
 'Paper Products ',
 'Vegetables ',
 'Starchy Foods ',
 'Cleaning Supplies ',
 'Canned Sardines ',
 'Specialty ',
 'Paper Products ',
 'Hardware ',
 'Carbonated Beverages ',
 'Canned Soup ',
 'Frozen Desserts ',
 'Fruit ',
 'Baking Goods ',
 'Fruit ',
 'Bathroom Products ',
 'Canned Soup ',
 'Magazines ',
 'Dairy ',
 'Fruit ',
 'Seafood ',
 'Magazines ',
 'Paper Products ',
 'Vegetables ',
 'Decongestants ',
 'Cleaning Supplies ',
 'Dairy ',
 'Kitchen Products ',
 'Starchy Foods ',
 'Snack Foods ',
 'Packaged Vegetables ',
 'Vegetables ',
 'Bread ',
 'Snack Foods ',
 'Baking Goods ',
 'Vegetables ',
 'Bread ',
 'Frozen Entrees ',
 'Canned Clams ',
 'Dairy ',
 'Vegetables ',
 'Dairy ',
 'Dairy ',
 'Kitchen Products ',
 'Bathroom Products ',
 'Beer and Wine ',
 'Kitchen Products ',
 'Breakfast Foods ',
 'Fruit ',
 'Vegetables ',
 'Vegetables ',
 'Bathroom Products ',
 'Snack Foods ',
 'Kitchen Products ',
 'Dairy ',
 'Meat ',
 'Snack Foods ',
 'Dairy ',
 'Snack Foods ',
 'Canned Soup ',
 'Electrical ',
 'Meat ',
 'Beer and Wine ',
 'Kitchen Products ',
 'Plastic Products ',
 'Baking Goods ',
 'Hygiene ',
 'Dairy ',
 'Vegetables ',
 'Bread ',
 'Breakfast Foods ',
 'Jams and Jellies ',
 'Canned Tuna ',
 'Hygiene ',
 'Vegetables ',
 'Bread ',
 'Breakfast Foods ',
 'Bathroom Products ',
 'Beer and Wine ',
 'Vegetables ',
 'Vegetables ',
 'Fruit ',
 'Pain Relievers ',
 'Dairy ',
 'Meat ',
 'Fruit ',
 'Electrical ',
 'Vegetables ',
 'Snack Foods ',
 'Paper Products ',
 'Canned Soup ',
 'Vegetables ',
 'Snack Foods ',
 'Plastic Products ',
 'Cleaning Supplies ',
 'Frozen Entrees ',
 'Baking Goods ',
 'Bathroom Products ',
 'Specialty ',
 'Hot Beverages ',
 'Bread ',
 'Pure Juice Beverages ',
 'Dairy ',
 'Electrical ',
 'Dairy ',
 'Plastic Products ',
 'Snack Foods ',
 'Candles ',
 'Snack Foods ',
 'Carbonated Beverages ',
 'Electrical ',
 'Cleaning Supplies ',
 'Vegetables ',
 'Dairy ',
 'Snack Foods ',
 'Frozen Desserts ',
 'Frozen Entrees ',
 'Vegetables ',
 'Dairy ',
 'Dairy ',
 'Baking Goods ',
 'Candy ',
 'Pain Relievers ',
 'Pizza ',
 'Paper Products ',
 'Kitchen Products ',
 'Snack Foods ',
 'Fruit ',
 'Frozen Desserts ',
 'Packaged Vegetables ',
 'Specialty ',
 'Starchy Foods ',
 'Snack Foods ',
 'Meat ',
 'Snack Foods ',
 'Specialty ',
 'Hardware ',
 'Vegetables ',
 'Decongestants ',
 'Hygiene ',
 'Fruit ',
 'Fruit ',
 'Plastic Products ',
 'Canned Soup ',
 'Dairy ',
 'Magazines ',
 'Snack Foods ',
 'Miscellaneous ',
 'Kitchen Products ',
 'Snack Foods ',
 'Side Dishes ',
 'Dairy ',
 'Hardware ',
 'Frozen Desserts ',
 'Fruit ',
 'Bread ',
 'Paper Products ',
 'Magazines ',
 'Vegetables ',
 'Paper Products ',
 'Snack Foods ',
 'Frozen Desserts ',
 'Snack Foods ',
 'Breakfast Foods ',
 'Vegetables ',
 'Breakfast Foods ',
 'Vegetables ',
 'Canned Tuna ',
 'Dairy ',
 'Vegetables ',
 'Snack Foods ',
 'Vegetables ',
 'Plastic Products ',
 'Dairy ',
 'Candy ',
 'Candy ',
 'Beer and Wine ',
 'Cleaning Supplies ',
 'Jams and Jellies ',
 'Electrical ',
 'Breakfast Foods ',
 'Dairy ',
 'Specialty ',
 'Kitchen Products ',
 'Baking Goods ',
 'Snack Foods ',
 'Fruit ',
 'Dairy ',
 'Beer and Wine ',
 'Drinks ',
 'Vegetables ',
 'Dairy ',
 'Jams and Jellies ',
 'Fruit ',
 'Snack Foods ',
 'Frozen Entrees ',
 'Side Dishes ',
 'Jams and Jellies ',
 'Fruit ',
 'Snack Foods ',
 'Fruit ',
 'Hot Beverages ',
 'Jams and Jellies ',
 'Pure Juice Beverages ',
 'Candy ',
 'Cleaning Supplies ',
 'Vegetables ',
 'Hot Beverages ',
 'Meat ',
 'Beer and Wine ',
 'Jams and Jellies ',
 'Beer and Wine ',
 'Snack Foods ',
 'Vegetables ',
 'Fruit ',
 'Hygiene ',
 'Dairy ',
 'Candy ',
 'Magazines ',
 'Jams and Jellies ',
 'Jams and Jellies ',
 'Pure Juice Beverages ',
 'Specialty ',
 'Vegetables ',
 'Frozen Desserts ',
 'Bathroom Products ',
 'Frozen Entrees ',
 'Snack Foods ',
 'Candy ',
 'Fruit ',
 'Canned Soup ',
 'Fruit ',
 'Vegetables ',
 'Breakfast Foods ',
 'Electrical ',
 'Fruit ',
 'Meat ',
 'Bread ',
 'Vegetables ',
 'Snack Foods ',
 'Canned Soup ',
 'Meat ',
 'Canned Tuna ',
 'Snack Foods ',
 'Canned Anchovies ',
 'Snack Foods ',
 'Cleaning Supplies ',
 'Vegetables ',
 'Pizza ',
 'Vegetables ',
 'Frozen Desserts ',
 'Eggs ',
 'Vegetables ',
 'Snack Foods ',
 'Baking Goods ',
 'Vegetables ',
 'Bathroom Products ',
 'Decongestants ',
 'Bathroom Products ',
 'Electrical ',
 'Vegetables ',
 'Specialty ',
 'Snack Foods ',
 'Vegetables ',
 'Meat ',
 'Snack Foods ',
 'Meat ',
 'Snack Foods ',
 'Meat ',
 'Snack Foods ',
 'Vegetables ',
 'Snack Foods ',
 'Electrical ',
 'Plastic Products ',
 'Dairy ',
 'Baking Goods ',
 'Candles ',
 'Paper Products ',
 'Breakfast Foods ',
 'Pain Relievers ',
 'Meat ',
 'Snack Foods ',
 'Electrical ',
 'Hot Beverages ',
 'Dairy ',
 'Breakfast Foods ',
 'Dairy ',
 'Specialty ',
 'Vegetables ',
 'Jams and Jellies ',
 'Baking Goods ',
 'Dairy ',
 'Magazines ',
 'Fruit ',
 'Snack Foods ',
 'Magazines ',
 'Dairy ',
 'Specialty ',
 'Beer and Wine ',
 'Meat ',
 'Bathroom Products ',
 'Pizza ',
 'Meat ',
 'Vegetables ',
 'Vegetables ',
 'Vegetables ',
 'Hygiene ',
 'Fruit ',
 'Vegetables ',
 'Vegetables ',
 'Electrical ',
 'Electrical ',
 'Vegetables ',
 'Meat ',
 'Canned Oysters ',
 'Dairy ',
 'Beer and Wine ',
 'Snack Foods ',
 'Plastic Products ',
 'Eggs ',
 'Frozen Entrees ',
 'Bread ',
 'Fruit ',
 'Drinks ',
 'Vegetables ',
 'Fruit ',
 'Pain Relievers ',
 'Decongestants ',
 'Meat ',
 'Bathroom Products ',
 'Kitchen Products ',
 'Canned Soup ',
 'Vegetables ',
 'Paper Products ',
 'Hot Beverages ',
 'Candy ',
 'Jams and Jellies ',
 'Vegetables ',
 'Frozen Desserts ',
 'Paper Products ',
 'Fruit ',
 'Vegetables ',
 'Canned Soup ',
 'Snack Foods ',
 'Fruit ',
 'Snack Foods ',
 'Starchy Foods ',
 'Canned Soup ',
 'Starchy Foods ',
 'Fruit ',
 'Snack Foods ',
 'Snack Foods ',
 'Beer and Wine ',
 'Hygiene ',
 'Dairy ',
 'Hygiene ',
 'Candy ',
 'Decongestants ',
 'Snack Foods ',
 'Pure Juice Beverages ',
 'Drinks ',
 'Drinks ',
 'Vegetables ',
 'Canned Tuna ',
 'Hot Beverages ',
 'Packaged Vegetables ',
 'Snack Foods ',
 'Paper Products ',
 'Vegetables ',
 'Eggs ',
 'Pizza ',
 'Starchy Foods ',
 'Decongestants ',
 'Pain Relievers ',
 'Snack Foods ',
 'Vegetables ',
 'Meat ',
 'Breakfast Foods ',
 'Paper Products ',
 'Baking Goods ',
 'Frozen Entrees ',
 'Electrical ',
 'Bread ',
 'Hygiene ',
 'Kitchen Products ',
 'Vegetables ',
 'Pain Relievers ',
 'Pain Relievers ',
 'Vegetables ',
 'Breakfast Foods ',
 'Hygiene ',
 'Starchy Foods ',
 'Candy ',
 'Baking Goods ',
 'Hot Beverages ',
 'Bread ',
 'Hot Beverages ',
 'Electrical ',
 'Carbonated Beverages ',
 'Frozen Desserts ',
 'Carbonated Beverages ',
 'Dairy ',
 'Snack Foods ',
 'Starchy Foods ',
 'Meat ',
 'Starchy Foods ',
 'Vegetables ',
 'Vegetables ',
 'Snack Foods ',
 'Vegetables ',
 'Frozen Desserts ',
 'Jams and Jellies ',
 'Specialty ',
 'Beer and Wine ',
 'Frozen Desserts ',
 'Snack Foods ',
 'Dairy ',
 'Dairy ',
 'Electrical ',
 'Vegetables ',
 'Fruit ',
 'Canned Soup ',
 'Baking Goods ',
 'Electrical ',
 'Hot Beverages ',
 'Pizza ',
 'Baking Goods ',
 'Bathroom Products ',
 'Breakfast Foods ',
 'Meat ',
 'Snack Foods ',
 'Canned Soup ',
 'Beer and Wine ',
 'Breakfast Foods ',
 'Magazines ',
 'Decongestants ',
 'Fruit ',
 'Hygiene ',
 'Paper Products ',
 'Meat ',
 'Meat ',
 'Snack Foods ',
 'Plastic Products ',
 'Canned Anchovies ',
 'Meat ',
 'Beer and Wine ',
 'Jams and Jellies ',
 'Bathroom Products ',
 'Canned Oysters ',
 'Fruit ',
 'Candy ',
 'Snack Foods ',
 'Hardware ',
 'Vegetables ',
 'Cold Remedies ',
 'Magazines ',
 'Snack Foods ',
 'Kitchen Products ',
 'Meat ',
 'Fruit ',
 'Canned Soup ',
 'Meat ',
 'Jams and Jellies ',
 'Canned Soup ',
 'Kitchen Products ',
 'Electrical ',
 'Starchy Foods ',
 'Breakfast Foods ',
 'Jams and Jellies ',
 'Snack Foods ',
 'Snack Foods ',
 'Hot Beverages ',
 'Meat ',
 'Beer and Wine ',
 'Jams and Jellies ',
 'Snack Foods ',
 'Electrical ',
 'Breakfast Foods ',
 'Bathroom Products ',
 'Fruit ',
 'Drinks ',
 'Electrical ',
 'Plastic Products ',
 'Starchy Foods ',
 'Meat ',
 'Drinks ',
 'Bathroom Products ',
 'Dairy ',
 'Vegetables ',
 'Bread ',
 'Vegetables ',
 'Frozen Entrees ',
 'Pain Relievers ',
 'Drinks ',
 'Vegetables ',
 'Bread ',
 'Baking Goods ',
 'Bathroom Products ',
 'Paper Products ',
 'Meat ',
 'Canned Tuna ',
 'Breakfast Foods ',
 'Hygiene ',
 'Fruit ',
 'Vegetables ',
 'Cleaning Supplies ',
 'Hygiene ',
 'Meat ',
 'Magazines ',
 'Snack Foods ',
 'Dairy ',
 'Fruit ',
 'Jams and Jellies ',
 'Vegetables ',
 'Plastic Products ',
 'Bathroom Products ',
 'Vegetables ',
 'Jams and Jellies ',
 'Frozen Desserts ',
 'Meat ',
 'Pizza ',
 'Canned Tuna ',
 'Vegetables ',
 'Pain Relievers ',
 'Beer and Wine ',
 'Fruit ',
 'Electrical ',
 'Electrical ',
 'Kitchen Products ',
 'Starchy Foods ',
 'Vegetables ',
 'Snack Foods ',
 'Starchy Foods ',
 'Starchy Foods ',
 'Fruit ',
 'Breakfast Foods ',
 'Vegetables ',
 'Carbonated Beverages ',
 'Snack Foods ',
 'Side Dishes ',
 'Paper Products ',
 'Vegetables ',
 'Fruit ',
 'Fruit ',
 'Vegetables ',
 'Candy ',
 'Canned Clams ',
 'Electrical ',
 'Bread ',
 'Jams and Jellies ',
 'Vegetables ',
 'Vegetables ',
 'Breakfast Foods ',
 'Candy ',
 'Specialty ',
 'Fruit ',
 'Dairy ',
 'Plastic Products ',
 'Decongestants ',
 'Candy ',
 'Snack Foods ',
 'Bread ',
 'Candy ',
 'Bread ',
 'Canned Oysters ',
 'Vegetables ',
 'Vegetables ',
 'Carbonated Beverages ',
 'Beer and Wine ',
 'Bathroom Products ',
 'Hygiene ',
 'Snack Foods ',
 'Vegetables ',
 'Breakfast Foods ',
 'Specialty ',
 'Frozen Entrees ',
 'Snack Foods ',
 'Bathroom Products ',
 'Paper Products ',
 'Beer and Wine ',
 'Vegetables ',
 'Vegetables ',
 'Meat ',
 'Pain Relievers ',
 'Jams and Jellies ',
 'Carbonated Beverages ',
 'Breakfast Foods ',
 'Snack Foods ',
 'Snack Foods ',
 'Fruit ',
 'Fruit ',
 'Miscellaneous ',
 'Pure Juice Beverages ',
 'Snack Foods ',
 'Snack Foods ',
 'Plastic Products ',
 'Bread ',
 'Bathroom Products ',
 'Candy ',
 'Candy ',
 'Fruit ',
 'Electrical ',
 'Drinks ',
 'Eggs ',
 'Snack Foods ',
 'Plastic Products ',
 'Dairy ',
 'Breakfast Foods ',
 'Starchy Foods ',
 'Snack Foods ',
 'Carbonated Beverages ',
 'Frozen Desserts ',
 'Bathroom Products ',
 'Hardware ',
 'Electrical ',
 'Fruit ',
 'Baking Goods ',
 'Dairy ',
 'Cleaning Supplies ',
 'Meat ',
 'Snack Foods ',
 'Baking Goods ',
 'Vegetables ',
 'Pain Relievers ',
 'Bread ',
 'Magazines ',
 'Hygiene ',
 'Fruit ',
 'Beer and Wine ',
 'Cleaning Supplies ',
 'Canned Tuna ',
 'Vegetables ',
 'Plastic Products ',
 'Vegetables ',
 'Vegetables ',
 'Paper Products ',
 'Side Dishes ',
 'Snack Foods ',
 'Bathroom Products ',
 'Paper Products ',
 'Paper Products ',
 'Snack Foods ',
 'Jams and Jellies ',
 'Baking Goods ',
 'Beer and Wine ',
 'Dairy ',
 'Beer and Wine ',
 'Vegetables ',
 'Vegetables ',
 'Snack Foods ',
 'Breakfast Foods ',
 'Carbonated Beverages ',
 'Frozen Entrees ',
 'Snack Foods ',
 'Pure Juice Beverages ',
 'Fruit ',
 'Canned Soup ',
 'Dairy ',
 'Vegetables ',
 'Electrical ',
 'Vegetables ',
 'Meat ',
 'Vegetables ',
 'Pure Juice Beverages ',
 'Vegetables ',
 'Canned Shrimp ',
 'Vegetables ',
 'Breakfast Foods ',
 'Vegetables ',
 'Meat ',
 'Baking Goods ',
 'Electrical ',
 'Snack Foods ',
 'Fruit ',
 'Bread ',
 'Snack Foods ',
 'Specialty ',
 'Drinks ',
 'Snack Foods ',
 'Pizza ',
 'Magazines ',
 'Fruit ',
 'Carbonated Beverages ',
 'Breakfast Foods ',
 'Canned Sardines ',
 'Vegetables ',
 'Pain Relievers ',
 'Jams and Jellies ',
 'Vegetables ',
 'Vegetables ',
 'Vegetables ',
 'Frozen Entrees ',
 'Dairy ',
 'Fruit ',
 'Carbonated Beverages ',
 'Meat ',
 'Vegetables ',
 'Bread ',
 'Drinks ',
 'Specialty ',
 'Jams and Jellies ',
 'Jams and Jellies ',
 'Jams and Jellies ',
 'Kitchen Products ',
 'Frozen Desserts ',
 'Paper Products ',
 'Fruit ',
 'Meat ',
 'Magazines ',
 'Meat ',
 'Hygiene ',
 'Electrical ',
 'Fruit ',
 'Canned Soup ',
 'Beer and Wine ',
 'Snack Foods ',
 'Canned Anchovies ',
 'Snack Foods ',
 'Snack Foods ',
 'Magazines ',
 'Bathroom Products ',
 'Candy ',
 'Breakfast Foods ',
 'Breakfast Foods ',
 'Specialty ',
 'Vegetables ',
 'Bread ',
 'Electrical ',
 'Hot Beverages ',
 'Hygiene ',
 'Pure Juice Beverages ',
 'Breakfast Foods ',
 'Canned Soup ',
 'Baking Goods ',
 'Fruit ',
 'Magazines ',
 'Plastic Products ',
 'Canned Sardines ',
 'Snack Foods ',
 'Vegetables ',
 'Vegetables ',
 'Snack Foods ',
 'Hot Beverages ',
 'Bread ',
 'Vegetables ',
 'Breakfast Foods ',
 'Dairy ',
 'Vegetables ',
 'Jams and Jellies ',
 'Frozen Desserts ',
 'Vegetables ',
 'Canned Soup ',
 'Breakfast Foods ',
 'Baking Goods ',
 'Kitchen Products ',
 'Vegetables ',
 'Carbonated Beverages ',
 'Paper Products ',
 'Vegetables ',
 'Kitchen Products ',
 'Pure Juice Beverages ',
 'Dairy ',
 'Vegetables ',
 'Hardware ',
 'Dairy ',
 'Meat ',
 'Carbonated Beverages ',
 'Specialty ',
 'Cleaning Supplies ',
 'Side Dishes ',
 'Frozen Entrees ',
 'Bread ',
 'Snack Foods ',
 'Miscellaneous ',
 'Specialty ',
 'Pain Relievers ',
 'Bathroom Products ',
 'Canned Soup ',
 'Beer and Wine ',
 'Bread ',
 'Fruit ',
 'Fruit ',
 'Baking Goods ',
 'Pure Juice Beverages ',
 'Beer and Wine ',
 'Vegetables ',
 'Frozen Desserts ',
 'Magazines ',
 'Snack Foods ',
 'Baking Goods ',
 'Baking Goods ',
 'Bathroom Products ',
 'Bread ',
 'Hot Beverages ',
 'Fruit ',
 'Candy ',
 'Specialty ',
 'Snack Foods ',
 'Vegetables ',
 'Meat ',
 'Frozen Desserts ',
 'Meat ',
 'Canned Soup ',
 'Fruit ',
 'Frozen Desserts ',
 'Pain Relievers ',
 'Meat ',
 'Starchy Foods ',
 'Side Dishes ',
 'Magazines ',
 'Drinks ',
 'Bread ',
 'Dairy ',
 'Canned Soup ',
 'Dairy ',
 'Candy ',
 'Frozen Desserts ',
 'Snack Foods ',
 'Snack Foods ',
 'Snack Foods ',
 'Drinks ',
 'Hot Beverages ',
 'Vegetables ',
 'Side Dishes ',
 'Vegetables ',
 'Eggs ',
 'Pure Juice Beverages ',
 'Vegetables ',
 'Electrical ',
 'Beer and Wine ',
 'Carbonated Beverages ',
 'Magazines ',
 'Vegetables ',
 'Carbonated Beverages ',
 'Frozen Desserts ',
 'Pure Juice Beverages ',
 'Breakfast Foods ',
 'Breakfast Foods ',
 'Beer and Wine ',
 'Frozen Desserts ',
 'Snack Foods ',
 'Baking Goods ',
 'Miscellaneous ',
 'Canned Soup ',
 'Vegetables ',
 'Frozen Desserts ',
 'Snack Foods ',
 'Candy ',
 'Snack Foods ',
 'Fruit ',
 'Frozen Desserts ',
 'Baking Goods ',
 'Canned Oysters ',
 'Specialty ',
 'Meat ',
 'Snack Foods ',
 'Starchy Foods ',
 'Eggs ',
 'Meat ',
 'Vegetables ',
 'Hardware ',
 'Bathroom Products ',
 'Paper Products ',
 'Hot Beverages ',
 'Pure Juice Beverages ',
 'Specialty ',
 'Snack Foods ',
 'Canned Soup ',
 'Magazines ',
 'Canned Shrimp ',
 'Pain Relievers ',
 'Baking Goods ',
 'Baking Goods ',
 'Plastic Products ',
 'Breakfast Foods ',
 'Dairy ',
 'Hot Beverages ',
 'Electrical ',
 'Drinks ',
 'Canned Tuna ',
 'Electrical ',
 'Bathroom Products ',
 'Baking Goods ',
 'Vegetables ',
 'Eggs ',
 'Vegetables ',
 'Beer and Wine ',
 'Meat ',
 'Canned Sardines ',
 'Frozen Entrees ',
 'Vegetables ',
 'Breakfast Foods ',
 'Jams and Jellies ',
 'Vegetables ',
 'Snack Foods ',
 'Frozen Entrees ',
 'Snack Foods ',
 'Specialty ',
 'Vegetables ',
 'Baking Goods ',
 'Baking Goods ',
 'Meat ',
 'Snack Foods ',
 'Magazines ',
 'Vegetables ',
 'Cold Remedies ',
 'Candy ',
 'Canned Soup ',
 'Cold Remedies ',
 'Vegetables ',
 'Canned Soup ',
 'Vegetables ',
 'Pizza ',
 'Canned Soup ',
 'Paper Products ',
 'Beer and Wine ',
 'Frozen Entrees ',
 'Dairy ',
 'Hygiene ',
 'Bread ',
 'Snack Foods ',
 'Candy ',
 'Side Dishes ',
 'Meat ',
 'Bathroom Products ',
 'Bread ',
 'Breakfast Foods ',
 'Electrical ',
 'Fruit ',
 'Breakfast Foods ',
 'Jams and Jellies ',
 'Vegetables ',
 ...]

In [304]:
data.head(2)

,Place Code,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,...,Male,graduate,high,partial,management,manual,professional,Order,Department,Brand
0,H11go_ZA,"['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.229980,2037.640015,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Cleaning Supplies,Household,Red Wing
1,S04ne_WA,NaN,Budget Bargains,Supermarket,6.360000e+06,1.971600e+06,non recyclable,50000.0,2814.949951,2049.719971,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Snack Foods,Snack Foods,Nationeel

#### Additional Features in market
`Additional Features in market` A list of features that are found in the market

In [47]:
import ast


# Custom function to handle ast.literal_eval()
def convert_features(x):
    if type(x) != float:
        return ast.literal_eval(x)
    else:
        return x


data["Additional Features in market"] = data["Additional Features in market"].apply(
    lambda x: convert_features(x)
)

In [116]:
def create_keyword_lists(data_column, keywords):
    keyword_lists = {keyword: [] for keyword in keywords}

    for value in data_column:
        for keyword in keywords:
            if type(value) != float:
                if keyword in value:
                    keyword_lists[keyword].append(1)
                else:
                    keyword_lists[keyword].append(0)
            else:
                keyword_lists[keyword].append(np.nan)

    return keyword_lists


keywords_to_check = [
    "Video Store",
    "Bar For Salad",
    "Coffee Bar",
    "Florist",
    "Ready Food",
]

result_lists = create_keyword_lists(
    data["Additional Features in market"], keywords_to_check
)
result_dataframe = pd.DataFrame(result_lists)

data = pd.concat([data, result_dataframe], axis=1)
data.drop(["Additional Features in market"], axis=1)

,Place Code,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,...,manual,professional,Order,Department,Brand,Video Store,Bar For Salad,Coffee Bar,Florist,Ready Food
0,H11go_ZA,Dimes Off,Deluxe,8.760000e+06,4.292400e+06,recyclable,10000.0,2842.229980,2037.640015,481.980011,...,0.0,1.0,Cleaning Supplies,Household,Red Wing,1.0,1.0,1.0,1.0,1.0
1,S04ne_WA,Budget Bargains,Supermarket,6.360000e+06,1.971600e+06,non recyclable,50000.0,2814.949951,2049.719971,457.359985,...,0.0,0.0,Snack Foods,Snack Foods,Nationeel,NaN,NaN,NaN,NaN,NaN
2,L05es_CA,Shelf Emptiers,Supermarket,1.086000e+07,4.452600e+06,recyclable,30000.0,2192.320068,1322.209961,523.320007,...,1.0,0.0,Magazines,Periodicals,Excel,0.0,0.0,0.0,1.0,0.0
3,S03le_WA,Savings Galore,NaN,1.980000e+06,6.732000e+05,recyclable,30000.0,1974.729980,NaN,440.920013,...,0.0,1.0,Dairy,Dairy,Carlson,0.0,0.0,1.0,0.0,0.0
4,M10da_YU,Sale Winners,Deluxe,1.156000e+07,4.970800e+06,non recyclable,50000.0,2862.300049,1872.189941,593.929993,...,0.0,1.0,Vegetables,Produce,Hermanos,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38857,C15ho_ZA,Shelf Emptiers,NaN,7.410000e+06,3.630900e+06,no,30000.0,2207.280029,1564.859985,385.450012,...,1.0,0.0,Snack Foods,Snack Foods,Fort West,0.0,1.0,1.0,1.0,1.0
38858,T02ma_WA,Discount Frenzy,Deluxe,4.600000e+06,2.070000e+06,no,70000.0,3145.510010,2055.290039,654.130005,...,0.0,0.0,Carbonated Beverages,Beverages,Washington,0.0,1.0,1.0,1.0,1.0
38859,S03le_WA,NaN,Supermarket,3.520000e+06,1.302400e+06,no,90000.0,1974.489990,1236.069946,440.920013,...,0.0,1.0,Specialty,Produce,Tri-State,0.0,0.0,1.0,0.0,0.0
38860,S03le_WA,Best Price Savers,Supermarket,2.190000e+06,9.417000e+05,no,50000.0,1973.770020,1236.069946,440.920013,...,1.0,0.0,Jams and Jellies,Baking Goods,Plato,0.0,0.0,1.0,0.0,0.0
38861,V13er_BC,Sale Sale Sale,Deluxe,4.410000e+06,1.764000e+06,no,10000.0,2147.169922,1525.280029,373.100006,...,1.0,0.0,Bathroom Products,Health and Hygiene,Consolidated,1.0,1.0,1.0,1.0,1.0

#### Promotion Name
`Promotion Name` - Made by the market on media

In [ ]:
data["Promotion Name"].unique()

array(['Dimes Off', 'Budget Bargains', 'Shelf Emptiers', 'Savings Galore',
       'Sale Winners', 'Weekend Discount', 'Price Winners',
       'Shelf Clearing Days', 'Big Time Discounts',
       'Lottery Cash Registerion', 'Pick Your Savings', nan,
       'Super Savers', 'Two Day Sale', 'Sale Sale Sale', 'Wallet Savers',
       'Money Savers', 'Save Price', 'Best Savings', 'Big Time Saving',
       'Bag Stuffer', 'Save It (Sale)', 'Dollar Days', 'Discount Frenzy',
       'Sales Days', 'Sale : Double Down', 'Coupon Spectacular',
       'Three for One', 'Super Duper Savers', 'GLD', 'Go For It',
       'Mystery Sale', 'One Day Sale', 'I Cant Believe It Sale',
       'You Save Days', 'Double Your Savings', 'Full Free', 'Saving Days',
       'Roller Savings (High) ', 'Green Light Special', 'Price Slashers',
       'Price Cutters', 'Two for One', 'Promo Big', 'Price Destroyers',
       'Tip Top Savings', 'Best Price Savers', 'Super Wallet Savers',
       'Price Smashers', 'Fantastic Discounts'], dtype=object)

#### Store Kind
- `Store Kind` - A genre for the store

In [137]:
data["Store Kind"].unique()

array(['Deluxe', 'Supermarket', nan, 'Gourmet', 'Mid-Size',
       'Small Grocery'], dtype=object)

In [136]:
data[["Store Kind", "Store Area"]]

        Store Kind   Store Area
0           Deluxe  2842.229980
1      Supermarket  2814.949951
2      Supermarket  2192.320068
3              NaN  1974.729980
4           Deluxe  2862.300049
...            ...          ...
38857          NaN  2207.280029
38858       Deluxe  3145.510010
38859  Supermarket  1974.489990
38860  Supermarket  1973.770020
38861       Deluxe  2147.169922

[38862 rows x 2 columns]

In [140]:
def custom_label_encode(data_column, label_mapping):
    encoded_values = []

    for value in data_column:
        if value in label_mapping:
            encoded_values.append(label_mapping[value])
        else:
            encoded_values.append(None)

    return encoded_values


custom_mapping = {
    "Small Grocery": 1,
    "Mid-Size": 2,
    "Gourmet": 3,
    "Supermarket": 4,
    "Deluxe": 5,
}

data_column = data["Additional Features in market"]
encoded_values = custom_label_encode(data_column, custom_mapping)

encoded_dataframe = pd.DataFrame({"Encoded Values": encoded_values})
print(encoded_dataframe)

TypeError: unhashable type: 'list'

#### Is Recyclable?
`Is Recyclable?` - If the item is Recyclable or no

In [ ]:
mapping = lambda x: {
    "No": 0,
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
}.get(x, x)

mapping("one")

1

In [ ]:
def fun(x):
    if x in ["non recyclable", "no"]:
        return 0
    if x in ["recyclable", "yes"]:
        return 1
    else:
        return np.nan


data["Is Recyclable?"] = data["Is Recyclable?"].apply(fun)

In [ ]:
data.head(3)

,Place Code,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,...,Male,graduate,high,partial,management,manual,professional,Order,Department,Brand
0,H11go_ZA,"[Video Store, Florist, Ready Food, Coffee Bar,...",Dimes Off,Deluxe,8.760000e+06,4.292400e+06,1.0,10000.0,2842.229980,2037.640015,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Cleaning Supplies,Household,Red Wing
1,S04ne_WA,NaN,Budget Bargains,Supermarket,6.360000e+06,1.971600e+06,0.0,50000.0,2814.949951,2049.719971,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Snack Foods,Snack Foods,Nationeel
2,L05es_CA,[Florist],Shelf Emptiers,Supermarket,1.086000e+07,4.452600e+06,1.0,30000.0,2192.320068,1322.209961,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,Magazines,Periodicals,Excel

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38862 entries, 0 to 38861
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Place Code                     38862 non-null  object
 1   Additional Features in market  34562 non-null  object
 2   Promotion Name                 33034 non-null  object
 3   Store Kind                     33053 non-null  object
 4   Store Sales                    38847 non-null  float64
 5   Store Cost                     38855 non-null  float64
 6   Is Recyclable?                 38860 non-null  float64
 7   Yearly Income                  38854 non-null  float32
 8   Store Area                     35296 non-null  float32
 9   Grocery Area                   35255 non-null  float32
 10  Frozen Area                    35308 non-null  float32
 11  Meat Area                      35313 non-null  float32
 12  Cost                           38831 non-null  float64
 13  Gross Weight                   35945 non-null  float32
 14  Net Weight                     35969 non-null  float32
 15  Status                         38862 non-null  object
 16  Children                       38862 non-null  int64
 17  Male                           38862 non-null  float64
 18  graduate                       38862 non-null  float64
 19  high                           38862 non-null  float64
 20  partial                        38862 non-null  float64
 21  management                     38862 non-null  float64
 22  manual                         38862 non-null  float64
 23  professional                   38862 non-null  float64
 24  Order                          38860 non-null  object
 25  Department                     38860 non-null  object
 26  Brand                          38860 non-null  object
dtypes: float32(7), float64(11), int64(1), object(8)
memory usage: 7.0+ MB